.hovercard
  span.hovercard-label ng-mouseenter="showCard = true" ng-mouseleave="showCard = false" {{::card.name}}
  .hovercard-detail ng-class="{'hovercard-visible': showCard}"
    img ng-src="cards/{{::card.image}}"
