.panel-heading
  &:not(.collapsed) h4 a:after
    font-family: 'FontAwesome'
    // fa-chevron-up
    content: "\f077"
    float: right
  &.collapsed h4 a:after
    font-family: 'FontAwesome'
    // fa-chevron-down
    content: "\f078"
    float: right
  h4
    cursor: pointer
    cursor: hand
    a
      text-decoration: none !important
