# Ignore bundler config.
/.bundle

# log/tmp
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
.byebug_history

# Generated
public/assets/**

## Bower
/vendor/assets/bower_components
/vendor/assets/bower.json

##Solr
solr/data
solr/test/data
solr/development/data
solr/default/data
solr/pids

# Card assets
/public/cards/*

# Ignore application configuration
.env
