# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
.byebug_history

# Bower
/vendor/assets/bower_components
/vendor/assets/bower.json

# Card assets
/public/cards
/public/cards_large

# Stuff
/config/database.yml
