.modal-body.clearfix ng-click="ok()"
  img.col-xs-12.card-border-radius ng-src="cards/{{::card.image}}" style="margin-bottom:10px"
  button.btn.btn-danger.col-xs-12 ng-show="isAdded" ng-click="kingdom.removeCard(card)" Remove Card
