button.btn.btn-primary.btn-md.col-xs-12 href="" ng-disabled="!expansionSelector.selected.length" ng-click="generate()" Generate!

p ng-show="!expansionSelector.selected.length" Please select at least one expansion.

ng-include src="'shared/expansion_selector.html'"

button.btn.btn-success.btn-md.col-xs-12 ng-show="kingdom.cards.length" href="" ng-click="openInBuilder()" Open In Builder
