<ng-include src="'expansion_selector/expansions.tpl.html'"></ng-include>

<div class="row">
  <div class="col-md-3 hidden-md hidden-lg">
    <ng-include src="'alerts/_alert-box.html'"></ng-include>
    <div class="well clearfix">
      <ng-include src="'kingdom_browser/kingdoms_kingdoms-panel.html'"></ng-include>
    </div>
  </div>

  <div class="col-md-9">
    <div class="well">
      <h3 ng-if="subtitle">{{ subtitle }}</h3>
      <div>
        <ul class="list-group kingdom-list">
          <li class="list-group-item" dir-paginate="kingdom in kingdoms | itemsPerPage: 5" total-items="totalKingdoms">
            <!-- TODO_favorites <span class="badge">{{ kingdom.favorites_count }}</span>
            <button ng-show="user.signedIn" class="pull-right btn-lnk" href="" ng-class="{'favorite-spinning': isSaving && savingKingdomId == kingdom.id, 'favorite': !isSaving}" ng-disabled="isSaving" ng-click="toggleFavorite(kingdom)">
              <span tooltip="{{kingdom.favorite ? 'Remove from favorites' : 'Add to favorites'}}" tooltip-trigger tooltip-placement="top" popover-append-to-body="true" class="fa pull-right" ng-class="{false: 'fa-star-o', true: 'fa-star'}[kingdom.favorite]"></span>
            </button>-->

            <a href="#!/kingdoms/{{ kingdom.id }}/{{ kingdom.slug }}">{{ kingdom.name }}</a>
            <span class="description">
              <i>{{ kingdom.kingdom_description}}</i>
            </span>
            <span><!-- TODO -->
              by <a ng-href="#!/{{kingdom.username}}/kingdoms">{{kingdom.username}}</a>
            </span>

            <div class="clearfix" ng-if="displayMode=='images'">
              <span class="col-xs-20p col-sm-10p col-md-10p padding-0" ng-repeat="card in kingdom.cards">

                <hover-card-image card-name="{{::card.name}}" card-image="{{::card.image}}"></hover-card-image>
              </span>
            </div>

            <div ng-if="displayMode=='text'">
              <span ng-repeat="card in kingdom.cards">
                <hover-card card-name="{{ card.name }}"></hover-card card-name>{{$last ? '' : ', '}}
              </span>
            </div>
          </li>
        </ul>
        <bgf-pagination url='kingdomsUrl' url-params='kingdom_params' collection='kingdoms' per-page="10" transform-response="deserializeKingdoms"></bgf-pagination>
      </div>
    </div>
  </div>

  <div class="col-md-3 ">
    <div class="well-t clearfix hidden-xs hidden-sm">
      <ng-include src="'alerts/_alert-box.html'"></ng-include>
    </div>
    <div class="well clearfix  hidden-xs hidden-xs">
      <ng-include src="'kingdom_browser/kingdoms_kingdoms-panel.html'"></ng-include>
    </div>
    <div class="well">
      <h4>Display</h4>
      <button class='btn btn-success btn-sm' ng-click="displayMode='images'">Images</button>
      <button class='btn btn-success btn-sm' ng-click="displayMode='text'">Text</button>
    </div>
  </div>
</div>