<div class="well clearfix">
  <div ng-controller="KingdomDetailCtrl" >
    <span ng-if="authService.username == kingdom.username">
      <input type="text" class="form-control input-small" placeholder="Kingdom Name" ng-model="kingdom.name">
      <textarea class="form-control input-small" rows="2" placeholder="Description" ng-model="kingdom.description"></textarea>
    </span>
    <span ng-if="authService.username != kingdom.username">
      <h4>{{kingdom.name}}</h4>
      <p>Description: {{kingdom.kingdom_description || 'None'}}</p>
      <p>Creator: <a ng-href="#!/{{kingdom.username}}/kingdoms">{{kingdom.username}}</a></p>
      <p>Created: {{kingdom.created_at | date:'dd MMMM yyyy' }}</p>
    </span>

    <button class='btn btn-success btn-md col-xs-12' ng-click="openInBuilder()">Open in Builder</button>
    <button ng-controller="SaveCtrl" class='btn btn-success btn-md col-xs-12' ng-if="authService.username == kingdom.username" ng-click="update()" type="button">Update</button>
    <button class='btn btn-danger btn-md col-xs-12' ng-if="authService.username == kingdom.username" ng-click="deleteKingdom(kingdom.id)" type="button">Delete</button>
  </div>
</div>