p
  | Current filter matched {{totalKingdoms}} out of {{totalKingdomsAll}} kingdoms.
span[ng-show="!expansionSelector.selected.length"]
  | Please select at least one expansion.
button.btn.btn-primary.col-xs-12[ng-click="reloadPage()"]
  | Filter
