<ng-include src="'expansion_selector/expansions.tpl.html'"></ng-include>

<div class="row" ng-controller="CardBroswerCtrl" ng-cloak>
  <div class="col-md-9 ">
    <div class="well">
      <div class="row">
        <div class="col-md-8">
          <dir-pagination-controls boundary-links="true" pagination-id="all_cards" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
        </div>
        <div class="col-md-4">
          <input ng-model="q" id="search" class="form-control" placeholder="Search">
        </div>
      </div>

      <div class="row ">
        <div class="col-md-12">
          <div id="triple" ng-if="displayMode=='labels'">
            <div class="col-xs-12 col-sm-6 col-md-4" dir-paginate="card in all_cards | orderBy:orderByField:reverseSort | filter:q | filter:filterByExpansion | itemsPerPage: cardsPerPage: 'all_cards'" current-page="currentPage" pagination-id="all_cards" ng-click="setSelectedCard(card)">
              <div ng-include src="'card-label.tpl.html'"></div>
            </div>
          </div>

          <div ng-if="displayMode=='images'">
              <div dir-paginate="card in all_cards | orderBy:orderByField:reverseSort | filter:q | filter:filterByExpansion | itemsPerPage: cardsPerPage" current-page="currentPage" pagination-id="all_cards" ng-click="setSelectedCard(card)">
                  <div ng-include src="'card-image.tpl.html'"></div>
              </div>
          </div>

          <div ng-if="displayMode=='ascii'">
              <div dir-paginate="card in all_cards | orderBy:orderByField:reverseSort | filter:q | filter:filterByExpansion | itemsPerPage: cardsPerPage: 'all_cards'" current-page="currentPage" pagination-id="all_cards" ng-click="setSelectedCard(card)">
                  <div ng-include src="'card-text.tpl.html'"></div>
              </div>
          </div>

          <p ng-show="!expansionSelectorService.selectedExpansions.length">Please select at least one expansion.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="well clearfix">
      <ng-include src="'card_browser/cards_panel_info.html'"></ng-include>
    </div>

    <div class="well">
      <h4>Display</h4>
      <div>
        <button class='btn btn-success btn-sm' ng-click="displayMode='images'">Images</button>
        <button class='btn btn-success btn-sm' ng-click="displayMode='labels'">Labels</button>
        <button class='btn btn-success btn-sm' ng-click="displayMode='ascii'">Text</button>
      </div>
      <span ng-show="displayMode=='images'">
        Display size: {{cardDisplaySize}}
        <div slider config="cardDisplaySizeSliderConfig" model="cardDisplaySize" class="slider"></div>
      </span> Cards per page: {{cardsPerPage}}
      <div slider config="cardsPerPageSliderConfig" model="cardsPerPage" class="slider"></div>

      <h4>Sort <small>({{orderByField}}<span ng-show="reverseSort"> reversed</span>)</small></h4>
      <button class='btn btn-success btn-sm' href="" ng-click="orderByField='expansion'; reverseSort = !reverseSort">
        Expansion
      </button>
      <button class='btn btn-success btn-sm' href="" ng-click="orderByField='name'; reverseSort = !reverseSort">
        Name
      </button>
      <button class='btn btn-success btn-sm' href="" ng-click="orderByField='cost_in_coins'; reverseSort = !reverseSort">
        Cost
      </button>
    </div>
  </div>

</div>