.well
  #content
    h4 Stuff
    button.btn.btn-success href="" ng-click="openInBuilder()" Open In Builder
    button.btn.btn-success href="" ng-click="import()" importTextarea
    button.btn.btn-danger href="" ng-click="kingdom.removeAllCards()" Remove All Cards
