.angular-hovercard.max-sizes
  img.thumbnail.card-border-radius.angular-hovercard.max-sizes ng-src="cards/small/{{::card.image}}" ng-mouseenter="showCard = true" ng-mouseleave="showCard = false"
  .angular-hovercard-detail ng-class="{'angular-hovercard-active': showCard}"
    img ng-src="cards/{{::card.image}}"
