.angular-hovercard
  span.angular-hovercard-label ng-mouseenter="showCard = true" ng-mouseleave="showCard = false"
    | {{::cardName}}
  .angular-hovercard-detail ng-class="{'angular-hovercard-active': showCard}"
    img width="110" ng-src="cards/{{::cardName|replaceSpaces}}.jpg"
