panel-collapse title="Save Kingdom" collapsed="true"
  p ng-hide="user.signedIn" ng-controller="SaveCtrl"
    span ng-controller="ModalCtrl"
      You must be logged in to save kingdoms, please
      a href="" ng-click="openLogin()" login
      , or
      a> href="" ng-click="openLogin()" register
      | an account.
  div ng-show="user.signedIn" ng-controller="SaveCtrl"
    input.form-control.input-small type="text" placeholder="Kingdom Name" ng-model="kingdom.name"
    textarea.form-control.input-small rows="2" placeholder="Description" ng-model="kingdom.description"
    button.btn.btn-success.btn-md.col-xs-12 ng-click="save()" Save Kingdom
    button.btn.btn-success.btn-md.col-xs-12 ng-show="editingKingdom" ng-click="update()" Update Kingdom
