button.btn.btn-success.btn-md.col-xs-12 href="" ng-disabled="!expansionSelector.selected.length || kingdom.cards.length == 10" ng-click="randomCard()" Randomize

ng-include src="'shared/_expansion_selector.html'"

p ng-show="!expansionSelector.selected.length" Please select at least one expansion.
