<div class="container"  ng-controller="ImportCtrl" ng-cloak>
  <div class="row">
    <div class="col-md-9">
      <div class="well clearfix">
        <textarea ng-model="importTextarea" rows="4" cols="50">
        </textarea>
        <div id="Kingdom" droppable ng-cloak>
          <div class="animate black_card shadow" ng-repeat="card in kingdom.cards" ng-dblclick="kingdom.removeCard(card)">
            <img class="card_image" width="110" ng-src="cards/{{card.image}}" />
          </div>

          <div data-ng-show="kingdom.cards.length < 10">
            <div ng-repeat="a in range(10 - kingdom.cards.length) track by $index"  class="black_card shadow" >
              <img class="card_image" width="110" ng-src="cards/Randomizer.jpg" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 ">
      <ng-include src="'alerts/_alert-box.html'"></ng-include>
      <ng-include src="'builder/import_import-panel.html'"></ng-include>
      <ng-include src="'builder/_panel_save.html'"></ng-include>
    </div>
  </div>
</div>