.black_card
  float: left
  background-color: #000
  margin: 5px
  position: relative
  border: 0.3em solid black
  border-radius: 5%

.shadow
  box-shadow: 2px 2px 3px #000

.card-border-radius
  background-color: #000
  border: 0.3em solid black
  border-radius: 5%
  padding: 0.1em
