// We need this because Fontawesome is hosted on a CDN and blocked in test,
// and getting Capybara to click on a link with no text is really hard.
._button-as-link
  border-width: 0
  background-color: transparent
  border: 0
  outline: none
  border: 0px
  box-sizing: none
  background-color: transparent
  &:active, &:focus
    border-width: 0
    background-color: transparent
    border: 0
    outline: none
    border: 0px
    box-sizing: none
    background-color: transparent

.favorite
  display: inline-block
  @extend ._button-as-link

.favorite-not-spinning
  transition-duration: 0.8s
  transition-property: transform

.favorite-spinning
  -webkit-transform: rotate(-72deg)
  -moz-transform: rotate(-72deg)
  -o-transform: rotate(-72deg)

  tranform: rotate(-72deg)
  transform-origin: 50% 50%
