#logo
  font-family: 'Kaushan Script', cursive
  font-size: 200% !important
  text-shadow: 3px 3px 5px #134B84
  padding-top: 1rem

body
  color: #000
  background-color: #222

footer
  margin: 5em 0
  margin-bottom: 1.5em
  li
    float: left
    margin-right: 1.5em
    margin-bottom: 1.5em
  p
    clear: left
    margin-bottom: 0

.cost-icon
  float: left
  margin-left: 3px
  height: 18px

.expansion-icon
  float: right
  margin-right: 3px
  height: 18px

[ng\:cloak], [ng-cloak], .ng-cloak
  display: none !important

.expansion-selector
  label, button
    margin-right: 3px !important

.slider
  margin-bottom: 1rem

.center-button
  text-align: center
  margin-bottom: 1rem
