.btn.btn-block.btn-primary.btn-md.card-box ng-class="cardStatus(card)"
  img ng-src="icons/16px-Coin{{::card.cost}}.png" alt="(C)" style="float: left; margin-left: 3px"
  span
    img ng-src="icons/{{::card.expansion_id}}.png" alt="(E)" style="float: right; margin-right: 3px;"
    {{::card.name}}
