.row
  .col-md-9
    .well.clearfix
      p
        | Welcome to the King's Court! Here you will find all the good stuff. 
      h4
        | Stuff
      a[href="#!/import"]
        | Import/Export Kingdoms
      h4
        | Other generators
      ul
        li
          a[href="http://www.poeppelkiste.de/suche/dominion/generator1.php"]
            | Dominion: Set-Generator
        li
          a[href="http://www.hiwiller.com/dominion/"]
            | Dominion Card Randomizer!
        li
          a[href="http://dominionsetgenerator.com/"]
            | Dominion Set Generator (Beta)
        li
          a[href="http://www.dominiondeck.com/"]
            | Dominion Deck Builder
  .col-md-3
    .well.clearfix
      #content
        h4
          | The King
        .animate.black_card.shadow.animate
          img.card_image[width="180" ng-src="cards/Kings_Court.jpg"]
        i
          | Come at the king, you best not miss.
