<ng-include src="'app/components/expansion_selector/expansions.tpl.html'"></ng-include>

<div class="row" ng-controller="GeneratorCtrl" ng-cloak>
  <div class="col-md-3 hidden-md hidden-lg">
    <div class="well-t clearfix">
      <ng-include src="'app/components/alerts/_alert-box.html'"></ng-include>
    </div>
    <div class="well clearfix">
      <ng-include src="'app/components/builder/views/generator_panel_controls.html'"></ng-include>
    </div>
  </div>

  <div class="col-md-9">
    <div ng-cloak class="well clearfix">
      <div class="row kingdom">
        <div class="animate col-xs-6 col-sm-4 col-md-3 col-lg-20p thumbnail transparent-bg" ng-repeat="card in kingdom.cards" ng-controller="ModalCtrl">
          <img ng-click="openCard(card)" class="col-xs-12 animate card-border-radius shadow" ng-src="assets/images/cards/{{::card.image}}">
        </div>
        <div ng-show="kingdom.cards.length < 10">
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-20p thumbnail transparent-bg" ng-repeat="a in range(10 - kingdom.cards.length) track by $index">
            <img class="col-xs-12 animate card-border-radius shadow" ng-src="assets/images/cards/Randomizer.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="well-t clearfix hidden-xs hidden-sm">
      <ng-include src="'app/components/alerts/_alert-box.html'"></ng-include>
    </div>
    <div class="well clearfix hidden-xs hidden-sm">
      <ng-include src="'app/components/builder/views/generator_panel_controls.html'"></ng-include>
    </div>
    <ng-include src="'app/components/builder/views/_panel_save.html'"></ng-include>
  </div>
</div>